tmp/uploads/files/*
tmp/uploads/images/*
tmp/uploads/videos/*
tmp/uploads/chatFile/files/*
tmp/uploads/chatFile/audios/*
tmp/uploads/chatFile/images/*
tmp/uploads/chatFile/videos/*

!tmp/uploads/files/.gitkeep
!tmp/uploads/images/.gitkeep
!tmp/uploads/videos/.gitkeep
!tmp/uploads/chatFile/files/.gitkeep
!tmp/uploads/chatFile/audios/.gitkeep
!tmp/uploads/chatFile/images/.gitkeep
!tmp/uploads/chatFile/videos/.gitkeep

node_modules
dist
.env
.git
vortex-backend
